<p-dataGrid [value]="items">
  <p-header>List of Cars</p-header>
  <p-footer>Choose from the list.</p-footer>
  <ng-template let-item pTemplate="item">
    <div style="padding:3px" class="ui-md-3">
      <p-panel [header]="item.name" [style]="{'text-align':'center'}">
        <div>
          <img src="../../assets/bars.jpg" width="96" height="96">
          <div class="car-detail">{{item.description}} - {{item.price}}</div>
          <hr class="ui-widget-content" style="border-top:0">
          <i class="fa fa-search" (click)="selectItem(item)" style="cursor:pointer"></i>
        </div>
      </p-panel>
    </div>
  </ng-template>
</p-dataGrid>

<p-dialog header="Car Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" width="225" (onAfterHide)="onDialogHide()">
  <div class="ui-grid ui-grid-responsive ui-grid-pad" *ngIf="selectedItem" style="font-size:16px;text-align:center;padding:20px">
    <div class="ui-grid-row">
      <div class="ui-grid-col-12" style="text-align:center"><img src="../../assets/bars.jpg" width="96" height="96"></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4">Vin: </div>
      <div class="ui-grid-col-8">{{selectedItem.name}}</div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4">Year: </div>
      <div class="ui-grid-col-8">{{selectedItem.description}}</div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4">Brand: </div>
      <div class="ui-grid-col-8">{{selectedItem.price}}</div>
    </div>
  </div>
</p-dialog>
